@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");

$primary_color: #9356dc;
$secondary_color: #ff79da;
$tertiary_color: #99e2d0;
$footer_back_color: #353535;
$gray_back_color: #f6f6f6;

$default_gradian: linear-gradient(
  355deg,
  rgba(147, 86, 220, 1) 8%,
  rgba(255, 121, 218, 1) 95%
);

$roboto_font: "Roboto", sans-serif;
$shrikhand_font: "Shrikhand", cursive;

$shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);

a {
  text-decoration: none;

  &:link {
    color: black;
  }

  &:visited {
    color: black;
  }
}

body {
  font-family: $roboto_font;
  font-family: $shrikhand_font;
  margin: 0px;
  padding: 0px;
  font-family: $roboto_font;
}

.main_container {
  display: flex;
  flex-direction: column;
  max-width: 992px;
  padding: 0px;
  margin: auto;
}

// ====================================================
//                   Mixins
// ====================================================
@mixin default_btn {
  align-items: center;
  max-width: 70%;
  background: $default_gradian;
  border: 0px;
  border-radius: 15px;
  height: 40px;
  width: 200px;
  color: white;
  box-shadow: $shadow;
  transform: scale(1);
  transition: scale, 400ms;
  &:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
}

@mixin scaled_image {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}
