// ====================================================
//                      menu_main
// ====================================================
.menu_main {
  background-color: $gray_back_color;

  img {
    @include scaled_image;
    opacity: 0;
    @keyframes scaled_image_transition {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    // 1- animation-name
    // 2- animation-duration
    // 3- animation-timing-function
    // 4- animation-delay
    // 5- animation-fill-mode
    animation: scaled_image_transition 0.8s ease-in 0s both;
  }
}

// ====================================================
//                      Menu Page
// ====================================================
.menu_main_container {
  display: flex;
  flex-direction: column;
  background-color: $gray_back_color;
  width: auto;
  position: relative;
  top: -20px;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.menu_header {
  display: flex;
  flex-direction: row;
  font-family: $shrikhand_font;

  h2 {
    min-width: 80%;
  }

  i {
    font-size: 30px;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
}

.meal_category_list {
  display: flex;
  flex-direction: column;
}

.meal_category {
  position: relative;
}

.meal_category_name {
  &:before {
    content: "";
    position: absolute;
    top: 35px;
    width: 40px;
    height: 2px;
    background-color: $tertiary_color;
  }
}

.meal_list {
  display: flex;
  flex-direction: column;
}

.meal_item {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: auto;
  border-radius: 15px;
  box-shadow: $shadow;
  padding: 0px 0px 0px 10px;
  margin-bottom: 20px;
  opacity: 0;
  overflow: hidden;

  // 1- animation-name
  // 2- animation-duration
  // 3- animation-timing-function
  // 4- animation-delay
  // 5- animation-fill-mode
  animation: meal_item_transition 1s ease-in-out 0s both;
}

.meal_item:hover {
  cursor: pointer;
  .meal_checked > i {
    // animation: meal_price_transition_open 0.4s ease-in-out 0s both;
    animation: rotate 0.5s ease-out 0s both;
  }
}

.meal_item:not(:hover) {
  .meal_checked > i {
    // animation: meal_price_transition_close 0.4s ease-in-out 0s both;
  }
}

.meal_details {
  width: 80%;
  min-width: 60%;

  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .meal_header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .meal_desc {
    margin-top: 5px;
    font-size: 12px;
  }
}

.meal_price {
  min-width: 50px;
  max-width: 50px;
  justify-content: center;
  align-items: end;
  font-weight: bold;
}

.meal_checked {
  width: 80px;
  background-color: $tertiary_color;
  border-radius: 0px 15px 15px 0px;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;

  i {
    // display: none;
    position: relative;
    top: calc(50% - 25px);
    color: white;
    // transform: rotate(180deg);
  }
}

// ====================================================
//                      Order
// ====================================================
.order_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.order_btn {
  @include default_btn;
}

// ====================================================
//                      keyframes
// ====================================================
@keyframes meal_price_transition_open {
  // 0% {
  //   width: 0px;
  // }
  // 100% {
  //   width: 80px;
  // }
}

@keyframes meal_price_transition_close {
  // 0% {
  //   width: 80px;
  // }
  // 100% {
  //   width: 0px;
  // }
}

@keyframes meal_item_transition {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
