// ====================================================
//                      menu_main
// ====================================================
.menu_main {
  background-color: $gray_back_color;

  img {
    @include scaled_image;
    opacity: 0;
    @keyframes scaled_image_transition {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    // 1- animation-name
    // 2- animation-duration
    // 3- animation-timing-function
    // 4- animation-delay
    // 5- animation-fill-mode
    animation: scaled_image_transition 0.8s ease-in 0s both;
  }
}

// ====================================================
//                      Menu Page
// ====================================================
.menu_main_container {
  display: flex;
  flex-direction: column;
  background-color: $gray_back_color;
  width: auto;
  position: relative;
  top: -20px;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.menu_header {
  display: flex;
  flex-direction: row;

  @include restaurant_title_font;

  h2 {
    min-width: 80%;
  }

  i {
    font-size: 30px;
    min-width: 20%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  }
}

.meal_category_list {
  display: flex;
  flex-direction: column;
}

.meal_category {
  position: relative;
}

.meal_category_name {
  &:before {
    content: "";
    position: absolute;
    top: 35px;
    width: 40px;
    height: 2px;
    background-color: $tertiary_color;
  }
}

.meal_list {
  display: flex;
  flex-direction: column;
}

$meal_content_width_close: 280px;
$meal_content_width_open: 230px;
$meal_check_width: 45px;
$meal_price_width: 40px;

.meal_item {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: auto;
  border-radius: 15px;
  box-shadow: $shadow;
  padding: 0px 0px 0px 10px;
  margin-bottom: 20px;
  opacity: 0;
  overflow: hidden;

  // 1- animation-name
  // 2- animation-duration
  // 3- animation-timing-function
  // 4- animation-delay
  // 5- animation-fill-mode
  animation: meal_item_transition 1s ease-in-out 0s both;

  &:hover {
    cursor: pointer;

    .meal_details {
      animation: meal_detail_transition_open 0.5s ease-out 0s both;
    }

    .meal_checked > i {
      animation: meal_cheched_rotate 0.5s ease-out 0s both;
    }
  }

  &:not(:hover) {
    .meal_details {
      animation: meal_detail_transition_close 0.5s ease-out 0s both;
    }
  }
}

.meal_details {
  width: $meal_content_width_close;
  min-width: $meal_content_width_close; // TODO : may change for desktop
  overflow: hidden;

  p,
  h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 17px;
  }

  .meal_header {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .meal_desc {
    margin-top: 5px;
    font-size: 12px;
  }
}

.meal_price {
  min-width: $meal_price_width;
  max-width: $meal_price_width;
  padding-left: 10px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.meal_checked {
  width: $meal_check_width;
  background-color: $tertiary_color;
  border-radius: 0px 15px 15px 0px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;

  i {
    position: relative;
    top: calc(50% - 16px);
    color: white;
  }
}

// ====================================================
//                      Order
// ====================================================
.order_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.order_btn {
  @include default_btn;
}

// ====================================================
//                      keyframes
// ====================================================
@keyframes meal_item_transition {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

@keyframes meal_cheched_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes meal_detail_transition_open {
  0% {
    min-width: $meal_content_width_close;
    width: $meal_content_width_close;
  }
  100% {
    min-width: $meal_content_width_open;
    width: $meal_content_width_open;
  }
}

@keyframes meal_detail_transition_close {
  0% {
    min-width: $meal_content_width_open;
    width: $meal_content_width_open;
  }
  100% {
    min-width: $meal_content_width_close;
    width: $meal_content_width_close;
  }
}
