@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.main_container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 0px;
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  .main_container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 991px) {
  .main_container {
    max-width: 768px;
  }
}

@keyframes heart_fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  width: 100%;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 2;
  overflow: hidden;
  position: relative;
}
header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
}
header i {
  position: absolute;
  left: 20px;
  top: 15px;
  font-size: 20px;
  transform: scale(1);
  transition: transform 400ms;
}
header i:hover {
  transform: scale(1.15);
}

footer {
  background-color: #353535;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
footer a {
  line-height: 25px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  height: 25px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

#logo_footer img {
  width: 20%;
  min-width: 80px;
  filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(198deg) brightness(126%) contrast(112%);
}

.footerline {
  display: flex;
  flex-direction: row;
  color: white;
  height: 25px;
  align-items: center;
  line-height: 25px;
}
.footerline span {
  width: 20px;
}
.footerline a {
  padding-left: 0px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.form_hosting {
  align-items: center;
  justify-content: center;
  padding: 10px 0px 0px 0px;
  background-color: #eaeaea;
}

.form_input_text {
  text-align: center;
  justify-content: center;
  padding-bottom: 5px;
}

.find_span {
  width: 30px;
  color: #353535;
}

#location {
  width: 150px;
  background-color: #eaeaea;
  border: 0px;
  color: red !important;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}

.description_container {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 50px 60px;
  text-align: center;
  background-color: #f6f6f6;
  align-items: center;
}
.description_container h1 {
  font-size: 25px;
}
.description_container h2 {
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}
.description_container p {
  font-size: 14px;
  margin-top: 0px;
}
.description_container .explore_btn {
  display: inline-block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  max-width: 80%;
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  border: 0px;
  border-radius: 15px;
  height: 30px;
  width: 250px;
  color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding-top: 11px;
  transform: scale(1.2, 1.2);
  /* Transition to showing the bigger shadow on hover */
}
.description_container .explore_btn::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.493);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.description_container .explore_btn:hover::after {
  opacity: 1;
}

.functionality_container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}

@keyframes func_item_hover_transition {
  0% {
    background-color: white;
  }
  100% {
    background-color: #f5edff;
  }
}
@keyframes func_item_hover_transition2 {
  0% {
    color: black;
  }
  100% {
    color: #9356dc;
  }
}
.func_item {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: left;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
}
.func_item:hover {
  cursor: pointer;
  animation: func_item_hover_transition 0.3s ease-out 0s both;
}
.func_item:hover > .item_icon {
  animation: func_item_hover_transition2 0.3s ease-in 0s both;
}
.func_item p {
  text-align: start;
}

.func_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item_icon {
  margin-right: 20px;
  margin-left: 0px;
  width: 16px;
}

.circle_span {
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  left: -15px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  color: white;
}

.restaurants_container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  background-color: #f6f6f6;
}

#restaurant_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  #restaurant_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  #restaurant_list {
    flex-direction: column;
    flex-wrap: no-wrap;
  }
}
@media only screen and (min-width: 991px) {
  #restaurant_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.restaurant_figure {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  height: 280px;
  max-height: 300px;
  width: auto;
  min-width: 150px;
  overflow: hidden;
  position: relative;
}
.restaurant_figure img.scaled {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}
.restaurant_figure figcaption {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  margin: 0px 10px 0px 10px;
}
@media only screen and (max-width: 991px) {
  .restaurant_figure {
    width: auto;
    min-width: 330px;
  }
}
@media only screen and (min-width: 991px) {
  .restaurant_figure {
    width: auto;
    min-width: 330px;
  }
}

.rest_fig_icon {
  min-width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 30px;
  margin: auto;
}
.rest_fig_icon i {
  font-size: 30px;
}
.rest_fig_icon i:hover {
  cursor: pointer;
}
.rest_fig_icon:active > .heart_icon_empty::before, .rest_fig_icon:hover > .heart_icon_empty::before {
  display: none;
}
.rest_fig_icon:active > .heart_icon_full::before, .rest_fig_icon:hover > .heart_icon_full::before {
  display: block;
  animation: heart_fadeIn 0.4s ease-in 0s both;
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  /* reset Font Awesome's display:inline-block */
}

.heart_icon_empty::before {
  display: block;
}

.heart_icon_full::before {
  display: none;
}

.new {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 25px;
  background-color: #99e2d0;
  text-align: center;
  vertical-align: middle;
  color: #008766;
  margin: auto;
  /* Important */
}

.rest_fig_content {
  min-width: 80%;
}
.rest_fig_content h3 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 5px;
}
.rest_fig_content p {
  margin-top: 10px;
}

.menu_main {
  background-color: #f6f6f6;
}
.menu_main img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  opacity: 0;
  animation: scaled_image_transition 0.8s ease-in 0s both;
}
@keyframes scaled_image_transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu_main_container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: auto;
  position: relative;
  top: -20px;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 20px 0px 20px;
}

.menu_header {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
  letter-spacing: 1px;
}
.menu_header h2 {
  min-width: 80%;
}
.menu_header i {
  font-size: 30px;
  min-width: 20%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.meal_category_list {
  display: flex;
  flex-direction: column;
}

.meal_category {
  position: relative;
}

.meal_category_name:before {
  content: "";
  position: absolute;
  top: 35px;
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}

.meal_list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 991px) {
  .meal_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .meal_list > * {
    max-height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .meal_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .meal_list > * {
    flex: 1 0 310px;
  }
}
@media only screen and (min-width: 991px) {
  .meal_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.meal_item {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: auto;
  max-width: 310px;
  border-radius: 15px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 0px 0px 0px 10px;
  margin-bottom: 20px;
  opacity: 0;
  overflow: hidden;
  max-height: 60px;
  animation: meal_item_transition 1s ease-in-out 0s both;
}
.meal_item:hover {
  cursor: pointer;
}
.meal_item:hover .meal_details {
  animation: meal_detail_transition_open 0.5s ease-out 0s both;
}
.meal_item:hover .meal_checked > i {
  animation: meal_cheched_rotate 0.5s ease-out 0s both;
}
.meal_item:not(:hover) .meal_details {
  animation: meal_detail_transition_close 0.5s ease-out 0s both;
}
@media only screen and (max-width: 991px) {
  .meal_item {
    margin-right: 17px;
    margin-left: 17px;
  }
}
@media only screen and (max-width: 767px) {
  .meal_item {
    margin-right: 0px;
    margin-left: 0px;
    width: 310px;
    max-width: 310px;
  }
}
@media only screen and (min-width: 991px) {
  .meal_item {
    margin-right: 17px;
    margin-left: 17px;
  }
}

.meal_details {
  width: 270px;
  min-width: 270px;
  overflow: hidden;
  padding-right: 10px;
  box-sizing: border-box;
}
.meal_details p,
.meal_details h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal_details h3 {
  font-size: 17px;
}
.meal_details .meal_header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.meal_details .meal_desc {
  margin-top: 5px;
  font-size: 12px;
}

.meal_price {
  min-width: 40px;
  max-width: 40px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 14px;
}

.meal_checked {
  width: 55px;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.meal_checked i {
  position: relative;
  top: calc(50% - 16px);
  color: white;
}

.order_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.order_btn {
  display: inline-block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  max-width: 80%;
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  border: 0px;
  border-radius: 15px;
  height: 30px;
  width: 250px;
  color: white;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.2, 1.2);
}
.order_btn::after {
  content: "";
  border-radius: 15px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.493);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.order_btn:hover::after {
  opacity: 1;
}

@keyframes meal_item_transition {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
@keyframes meal_cheched_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes meal_detail_transition_open {
  0% {
    min-width: 270px;
    width: 270px;
  }
  100% {
    min-width: 220px;
    width: 220px;
  }
}
@keyframes meal_detail_transition_close {
  0% {
    min-width: 220px;
    width: 220px;
  }
  100% {
    min-width: 270px;
    width: 270px;
  }
}

/*# sourceMappingURL=style.css.map */
