@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
a {
  text-decoration: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.main_container {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  padding: 0px;
  margin: auto;
  overflow: hidden;
}

header {
  width: 100%;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  z-index: 2;
  overflow: hidden;
}
header .logo_container {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
header .logo_container .logo_left {
  justify-content: right;
  display: inline-flex;
  align-items: center;
}
header .logo_container .logo_left span {
  font-size: 20px;
  transform: scale(1);
  transition: transform 400ms;
}
header .logo_container .logo_left span:hover {
  transform: scale(1.15);
}
header .logo_container .logo_center {
  align-items: center;
  justify-content: center;
}
header .logo_container .logo_center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 100px;
}

.city_location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
  background-color: #eaeaea;
}
.city_location .find_span {
  width: 30px;
  color: #353535;
}
.city_location #location {
  width: 150px;
  background-color: #eaeaea;
  border: 0px;
  color: red !important;
  font-weight: bold;
}

footer {
  background-color: #353535;
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
footer #logo_footer img {
  width: 20%;
  min-width: 80px;
  filter: invert(100%) sepia(0%) saturate(7443%) hue-rotate(198deg) brightness(126%) contrast(112%);
}
footer .footerline {
  display: flex;
  flex-direction: row;
  color: white;
  height: 25px;
  align-items: center;
  line-height: 25px;
}
footer .footerline span {
  width: 20px;
}
footer .footerline p {
  padding-left: 0px;
  font-family: "Roboto", sans-serif;
}
footer p {
  line-height: 25px;
  color: white;
  font-family: "Roboto", sans-serif;
  height: 25px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.description_container {
  display: flex;
  flex-direction: column;
  padding: 0px 60px 50px 60px;
  text-align: center;
  background-color: #f6f6f6;
  align-items: center;
}
.description_container h2 {
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
}
.description_container p {
  font-size: 12px;
  margin-top: 0px;
}
.description_container .explore_btn {
  align-items: center;
  max-width: 70%;
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  border: 0px;
  border-radius: 15px;
  height: 40px;
  width: 200px;
  color: white;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  transform: scale(1);
  transition: scale, 400ms;
}
.description_container .explore_btn:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.functionality_container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
}
.functionality_container .func_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.functionality_container .func_list .func_item {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin-bottom: 20px;
  align-items: center;
  justify-content: left;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  border-radius: 15px;
}
.functionality_container .func_list .func_item .item_icon {
  margin-right: 20px;
  margin-left: 0px;
  width: 16px;
}
.functionality_container .func_list .func_item p {
  text-align: start;
}
.functionality_container .func_list .func_item .circle_span {
  background-color: #9356dc;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  position: relative;
  left: -15px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  color: white;
}

.restaurants_container {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  background-color: #f6f6f6;
}
.restaurants_container #restaurant_list {
  display: flex;
  flex-direction: column;
}
.restaurants_container #restaurant_list .restaurant_figure {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  height: 280px;
  max-height: 300px;
  width: auto;
  min-width: 150px;
  /* Keep this ! */
  overflow: hidden;
}
.restaurants_container #restaurant_list .restaurant_figure img.scaled {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
}
.restaurants_container #restaurant_list .restaurant_figure .restaurant_img {
  position: relative;
}
.restaurants_container #restaurant_list .restaurant_figure .restaurant_img .new {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 25px;
  background-color: #99e2d0;
  text-align: center;
  vertical-align: middle;
}
.restaurants_container #restaurant_list .restaurant_figure .restaurant_img .new p {
  color: #008766;
  margin: auto;
  /* Important */
  text-align: center;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption {
  display: flex;
  flex-direction: row;
  min-height: 50px;
  margin: 0px 10px 0px 10px;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_content {
  min-width: 80%;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_content .caption_header {
  font-weight: bold;
  margin-bottom: 5px;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_content p {
  margin-top: 10px;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_icon {
  min-width: 20%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_icon span {
  font-size: 30px;
}
.restaurants_container #restaurant_list .restaurant_figure figcaption .rest_fig_icon span:hover:before {
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
  /* reset Font Awesome's display:inline-block */
}

.menu_main {
  background-color: #f6f6f6;
}

.main_pict img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  opacity: 0;
  animation: scaled_image_transition 0.8s ease-in 0s both;
}
@keyframes scaled_image_transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu_main_container {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  width: auto;
  position: relative;
  top: -20px;
  border-radius: 15px 15px 0px 0px;
  padding: 0px 20px 0px 20px;
}
.menu_main_container .menu_header {
  display: flex;
  flex-direction: row;
  font-family: "Shrikhand", cursive;
}
.menu_main_container .menu_header .menu_title {
  min-width: 80%;
}
.menu_main_container .menu_header .menu_span {
  font-size: 30px;
  min-width: 20%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}
.menu_main_container .meal_category_list {
  display: flex;
  flex-direction: column;
}
.menu_main_container .meal_category_list .meal_category {
  position: relative;
}
.menu_main_container .meal_category_list .meal_category .meal_category_name:before {
  content: "";
  position: absolute;
  top: 35px;
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}
.menu_main_container .meal_category_list .meal_category .meal_list {
  display: flex;
  flex-direction: column;
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: auto;
  border-radius: 15px;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  padding: 0px 0px 0px 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: meal_item_transition 1s ease-in-out 0.1s both;
}
@keyframes meal_item_transition {
  0% {
    margin-top: 20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item .meal_details {
  width: 80%;
  min-width: 60%;
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item .meal_details .meal_header {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item .meal_details .meal_desc {
  margin-top: 5px;
  font-size: 12px;
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item .meal_price {
  min-width: 15%;
  justify-content: center;
  align-items: end;
  display: inline-flex;
  font-weight: bold;
}
.menu_main_container .meal_category_list .meal_category .meal_list .meal_item .meal_checked {
  width: 0px;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
}
@keyframes meal_price_transition {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}
.menu_main_container .meal_item:hover .meal_checked {
  animation: meal_price_transition 0.4s ease-in-out 0s both;
}
.menu_main_container .order_div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.menu_main_container .order_div .order_btn {
  align-items: center;
  max-width: 70%;
  background: linear-gradient(355deg, #9356dc 8%, #ff79da 95%);
  border: 0px;
  border-radius: 15px;
  height: 40px;
  width: 200px;
  color: white;
  box-shadow: 0px 2px 7px -1px rgba(0, 0, 0, 0.71);
  transform: scale(1);
  transition: scale, 400ms;
}
.menu_main_container .order_div .order_btn:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
